.root {
  @apply flex flex-col 
  h-full w-full sm:max-w-xs
  rounded-t-md rounded-b-2xl
  border border-gray-300
  duration-300 ease-in-out
  shadow-lg hover:shadow-2xl;
}

.dark {
  @apply bg-gray-700 text-gray-100;
}

.dark .cardBody {
  @apply border-gray-800;
}

.dark .cardPrice {
  @apply text-gray-400;
}

.light {
  @apply bg-white text-black;
}

.light .cardBody {
  @apply border-gray-300;
}

.light .cardPrice {
  @apply text-gray-700;
}

.nftImageContainer {
  @apply relative
  flex items-center justify-center
  h-80 px-2;
}

.badge {
  @apply top-3 right-4 absolute
  opacity-90;
}

.cardBody {
  @apply gap-y-4 py-2
  rounded-b-2xl border-t-2
  px-4 shadow-inner;
  min-height: 80px;
}
.cardDetails {
  @apply grid w-full
  grid-cols-4;
}
.cardDetails > div:first-of-type {
  @apply col-span-3 text-left;
}
.cardDetails > div:nth-of-type(2) {
  @apply items-end;
}
.cardName {
  /* Took this logic from Tailwind "line-clamp" package */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  @apply overflow-hidden text-ellipsis
  text-base font-semibold capitalize;
}
.cardPriceContainer {
  @apply flex items-center space-x-1;
}

.cardPrice .coin {
  @apply h-4 w-4;
}

.skeleton {
  @apply w-full h-3.5 rounded-md mt-1;
}
