:root {
  --primary: #fbbf24;
  --secondary: #1d2f4d;
  --hover-primary: #fda013;
  --hover-secondary: #111827;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu Mono', monospace;
}

* {
  box-sizing: border-box;
}
